.home {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh;
}

.side {
  width: 25%;
  min-width: 25%;
  height: 100%;
  background-color: #9ec8b9;
  /* background-color: #2a4384; */

  padding: 50px 25px;

  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: space-evenly;
  position: fixed;
}

.side-heading {
  font-weight: 200;
  color: black;
  margin-bottom: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  padding: 0px 0px 0px 0px;
}

.form label {
  padding: 10px 0;
  color: black;
  font-size: 20px;
}

.form.model label {
  padding: 0;
  margin: 10px 0;
  flex-direction: column;
  color: #333;
  font-weight: 200;
}

.label-text {
  display: flex;
  justify-content: space-between;
  width: 50%;
}

input[type="text"],
input[type="select"],
input[type="number"],
select,
button.submit {
  width: 50%;
  height: 35px;
  font-size: 18px;
  padding: 2px 10px;
  margin: 5px 0;
  border-radius: 4px;
  border: 2px solid #888;
}

button.submit {
  cursor: pointer;
  background-color: #56f0ba;
}

input[type="radio"] {
  /* font-size: 20px; */
  height: 15px;
  width: 15px;
  margin-right: 5px;
}

.main {
  width: 75%;
  height: 100%;
  margin-left: 25%;
  padding: 50px 100px;
}

.main-heading {
  font-weight: 900;
  font-size: 3rem;
  letter-spacing: 2px;
  /* color: #173E5E; */
  color: white;
  text-shadow: -1px 1px 0 #333, 1px 1px 0 #333, 1px -1px 0 #333,
    -1px -1px 0 #333;
  margin-bottom: 20px;
}

.model-desc {
  font-weight: 200;
  color: #333;
  font-size: 1.3em;
}

/* Description Page */
.description {
  display: flex;
  flex-direction: column;
  padding: 30px 50px;
  font-family: sans-serif;
}

.sub-heading {
  display: flex;
  font-size: 20px;
  padding: 10px 0px 10px 0px;
}
